<!-- Loading overlay section starts -->
<div [class.overlay-display]="!overlayDisplay" class="overlay">
	<h1>Loading</h1>
</div>
<!-- Loading overlay section starts -->

<!-- header section starts -->
<header class="app-header">
	<nav class="navbar navbar-expand-md">
		<a class="navbar-brand" href="#">Hello {{username}}</a>
	</nav>
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link active" href="#" (click)="logout()">Logout</a>
		</li>
	</ul>
</header>
<!-- header section ends -->

<main role="main" class="container-fluid">
	<div class="row">
		<div class="col-3">
			<app-chat-list [conversation]="conversation" [selectedUserInfo]="selectedUserInfo"></app-chat-list>
		</div>
		<div class="col-8">
			<canvas appCollabCanvas></canvas>
		</div>
	</div>
</main>